

<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-sm-12">
    <%= form_for @user do |f| %>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">
          <%= f.label :username %>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">
          <%= f.label :email %>
        </label>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">
          <%= f.label :password %>
        </label>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <div class="buttons">
            <%= link_to 'Back', articles_path, class: "btn btn-secondary btn-sm" %> | <%= f.submit(@user.new_record? ? "Sign up" : "Update account",  class: "btn btn-primary btn-sm") %>
          </div>
           
        </div>
      </div>

    <% end %>

  </div>
</div>

