

<% obj.each do |article| %>
  <div class="row">
    <div class="col-lg-6"> 
      <div class="card">
        <div class="card-header">
          <div class="article-title">
            <%= link_to article.title, article_path(article) %>
          </div>
        </div>
        <div class="card-body">
          <div class="article-body">
            <%= truncate(article.description, length: 100) %>
            <div class="article-meta-details">
              <small>Created by:  <%= article.user.username if article.user %>, 
                                  <%= time_ago_in_words(article.created_at) %> ago, 
                                  last updated: <%=    time_ago_in_words(article.updated_at)%> ago
              </small>
            </div>
          </div>
        </div>

        <% if article.categories.any? %>
          <p>Categories: <%= render article.categories %></p>
        <% end %>

        <!--só vamos dar permissão de deletar e editar um artigo se o usuário estiver logado e for o autor do artigo ou se for admin-->
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="card-footer">
            <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"},  class: "btn btn-sm btn-danger" %> |  <%= link_to 'Edit', edit_article_path(article), class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <br>
<% end %>
 