<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Alpha Blog', root_path, class: "navbar-brand", id: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Users', users_path, class: "nav-link" %>
      </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'New Article', new_article_path, class: "dropdown-item" %></li>
          </ul>  
        </li>
      <% end %>

      <!--Categories-->
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
        <ul class="dropdown-menu">

          <li><%= link_to 'All Categories', categories_path, class: "dropdown-item" %></li>
          <% Category.all.each do |category| %>
            <li><%= link_to "#{category.name}", category_path(category), class: "dropdown-item" %></li>
          <% end %>
          <% if logged_in? and current_user.admin? %>
            <li><%= link_to 'New Category', new_category_path, class: "dropdown-item" %></li>
          <% end %>
        </ul>  
      </li>

    </ul>

    <!--esses itens ficarão à esquerda-->
    <ul class="navbar-nav">
      <!--verifica se está logado ou não-->
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Profile <%= "Admin" if current_user.admin? %></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit your profile', edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to 'View your articles', user_path(current_user), class: "dropdown-item" %>
            </div>
          </li>
        </li>

         <li class="nav-item">
          <%= gravatar_for current_user, size: 50 %> <!--mostra a foto (puxa do gravatar) do usuário logado-->
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>    
       
      <% end %>

      
    </ul>
    
  </div>
</nav>